:root {
--branco: hsl(0, 0%, 100%);
--cinza-claro: hsl(217, 12%, 63%);
--cinza-medio: hsl(216, 12%, 54%);
--azul-escuro: hsl(213, 19%, 18%);
--azul-muito-escuro: hsl(216, 12%, 8%);
--laranja: hsl(25, 97%, 53%);
}

body {
    font-family: 'Overpass', sans-serif;
    background: var(--azul-muito-escuro);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    width: 25em;
    height: 20em;
    background: var(--azul-escuro);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.titulo {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 25px;
    color: var(--branco);
}

.texto {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    line-height: 18px;
    color: var(--cinza-medio);
    text-align: justify;
}

.opcoes {
    background-color: hsl(213, 20%, 24%);;
    color: var(--cinza-claro);
    text-align: center;
    width: 36px;
    padding: 10px;
    margin: 30px 20px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 30px;

}

.botao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.enviar {
    font-size: 16px;
    background-color: var(--laranja);
    color: var(--branco);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}